body {
    padding-top: 56px;
    background-image: url('web.jpg');
    color: white;
}
#navbarNav .nav-link {
    color: rgb(255, 255, 255);
    transition: color 0.3s;
}
#navbarNav .nav-link:hover {
    color: #ffc107;
}
ul a{
    float: right;
}